@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background: rgb(114, 175, 240);
  background: linear-gradient(120deg, rgba(114, 175, 240, 1) 0%, rgba(90, 87, 231, 1) 15%, rgba(82, 56, 223, 1) 20%, rgba(57, 19, 128, 1) 73%, rgba(47, 3, 95, 1) 100%) no-repeat;
  width: calc(100vw - 10px);
  overflow-x: hidden;
}

/* 스크롤바 */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000033;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

input {
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
}

input::placeholder {
  font-size: inherit;
  font-family: inherit;
}

select {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}