.slide-emotion-content {
  margin: 0;
  overflow: hidden;
  
  .scroll-container {
    height: 3000px;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
      width: 0;
    }
    
    .rainbow-wrap {
      .rainbow {
        width: 100%;
        animation: icon_animation 6s infinite;
      }
      
      .emotion-list {
        img[class^=emotion] {
          position: absolute;
          // width: 100%;
          z-index: 100;
          display: none;
          animation: icon_animation 3s infinite;
          max-width: 80vw;
        }
      }
    }
  }
}

@keyframes icon_animation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}