.title-content {
  width: 100%;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  position: relative;

  .bubble-box {
    width: calc(100% - 40%);
    max-width: 500px;
    padding: 50px;
    cursor: pointer;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    font-family: "PyeongChangPeace-Bold", sans-serif;
    font-size: 40px;
    position: relative;

    &::after {
      position: absolute;
      bottom: -58px;
      left: calc(50% - 20px);
      content: '';
      width: 0;
      height: 0;
      border-bottom: 20px solid transparent;
      border-left: 20px solid transparent;
      border-top: 40px solid rgb(255, 255, 255);
      border-right: 20px solid transparent;
    }

    p {
      color: #5035D8;
    }
  }

  .face-button {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    .face-content {
      img {
        width: 20vw;
        max-width: 300px;
        min-width: 200px;
        animation: iconAni 1s infinite forwards alternate;
      }
    }
  }
}



@keyframes iconAni {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20px);
  }
}